*{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

.mobile-menu{
  box-sizing: border-box;
  background: blue;
  padding: 11px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  text-align: right;

}

.mobile-menu a{
  color: yellow;
  font-size: 31px;

  text-decoration: none;
}

.mobile-menu ul{
  position: absolute;
  right: -50%;
  top: 70px;
  height:100vh;
  background: yellow;
  list-style-type: none;
  width: 50%;
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mobile-menu ul li a{
  color: black;
  font-size: 27px;
}
.mobile-menu ul li a:hover{
  border-bottom: 2px solid white;
}

.desktop-menu{
  display: none;
  font-size: 21px;
  background: blue;
  height: 50px;
}

.desktop-menu ul{
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.desktop-menu ul li{
  margin: 0 10px;
}

.desktop-menu ul li a{
  color: white;
  text-decoration: none;
}

.desktop-menu ul li a:hover{
  border-bottom: yellow 3px solid;
}
p{
  font-size: 19px;
  padding-top:0;
  margin: 14px;
}

h1{
  margin: 10px;
}
h2{
  margin: 10px;
}
article h3{
  background: blue;
  width: 400px;
  margin-left: 44px;
  margin-top: 40px;
  padding: 19px;
  border-radius: 40px;
  display: flex;
  justify-content: center;


  
}
article h3 a{
  color: white;
  text-decoration: none;
  font-size: 19px;

}
.fixed-background{
  display: block;
  background:url('https://cdn.mos.cms.futurecdn.net/F8cC9DYXZTVdQWFcV7ggzV.jpg') center fixed;
  background-size: cover;
  width: 100%;
  height: 90vh;
}
.fixed-background p{
  margin: 0;
  color: white;
    display: flex;
  justify-content: center;
  padding-top: 540px;
font-size: 21px;
font-weight: bold;
}


.tooltip {
  text-decoration:none;
  position:relative;
}
.tooltip span {
  display:none;
}
.tooltip span img {
  float:left;
}
.tooltip:hover span {
  display:block;
  position:absolute;
  overflow:hidden;
}

.wrapper {
  position: relative;
  padding: 0;
  width:100px;
  display:block;
}
.text {
  position: absolute;
  top: 0;
  color:#f00;
  background-color:rgba(255,255,255,0.8);
  width: 490px;
  height: 650px;
  line-height:50px;
  text-align: center;
  font-weight: bolder;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.text:hover {
  opacity:1;
}


img {
  z-index:1;
  height: 650px;
}
main{
  display: flex;
  flex-direction: column;
 padding-left: 21px;
}

.icon{
  font-size: 29px;
  padding-right: 11px;
  color: white;
 
  
}

.logo img{
  width: 130px;
  height: 21px;
  display: flex;
  justify-content: center;

  

}
 


@media screen and (min-width: 768px){
  .mobile-menu{
    display: none;
  }
  .desktop-menu{
    display: block;
  }

  .fixed-background p{
    margin: 0;
    color: white;
      display: flex;
    justify-content: center;
    padding-top: 540px;
  font-size: 40px;
  font-weight: bold;
  }

  .tooltip {
    text-decoration:none;
    position:relative;
  }
  .tooltip span {
    display:none;
  }
  .tooltip span img {
    float:left;
  }

 
  .tooltip:hover span {
    display:block;
    position:absolute;
    overflow:hidden;
  }
  
  .wrapper {
    position: relative;
    padding: 0;
    width:100px;
    display:block;
    
  }
  .text {
    position: absolute;
    top: 0;
    color:#f00;
    background-color:rgba(255,255,255,0.8);
    width: 390px;
    height: 300px;
    line-height:30px;
    text-align: center;
    font-weight: bolder;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  
  }
  .text:hover {
    opacity:1;
  }
  img {
    z-index:1;
    height: 300px;
  }
  main{
    display: flex;
    flex-direction: row;
   padding-right: 40px;
  }
  .logo img{
    width: 150px;
    height: 50px;
    display: flex;
    justify-items: left;
  }
 
  article h3{
    background: blue;
    width: 500px;
    margin-left: 490px;
    margin-top: 40px;
    padding: 19px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    color: yellowgreen;
  }

  p{
    font-size: 31px;
    padding-top:0;
    margin: 21px;
    padding-bottom: 21px;
  }
  article h3 a{
    color: white;
    text-decoration: none;
    font-size: 21px;
    padding: 0;
}
.icon {
  font-size: 39px;
  padding-right: 11px;
  color: white;
  display: flex;
  justify-content: center;
}
h1{
  padding-top: 10px;
  margin: 21px;
  font-size: 40px;
}
h2{
  padding-top: 10px;
  margin: 21px;
  font-size: 40px;
}
}